<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Restaurants</title>
</head>
<body>
  <h1>Restaurants as of <%= time %> </h1>
  <ul>
    <% restaurants.forEach(restaurant => { %>
      <li>
        <form 
          action="/restaurants/<%= restaurant._id%>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit">X</button>
        </form>
				<a href="/restaurants/<%= restaurant._id%>"><%= restaurant.text %></a>
				- 
				<%= restaurant.visit ? 'visited' : 'did not visit' %>
			</li>
    <% }) %>
  </ul>
  <a href="/restaurants/new">Add Restaurants</a>
  
</body>
</html>